# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Java程序\xiaofan_java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
